.card{
    background-color: white;
    color:black;
    padding:5rem;

    div{
        font-size: 2rem;
    }
}

.container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: auto auto;
    row-gap: 40px;
    column-gap: 10px;
    justify-content: space-around;
    /* margin-top: 2rem; */
    background-color: #f4f7fa;
  
}