header{
    user-select: none;
}

.header,.navbar{
    display: flex;
    justify-content: space-between;
    padding:1rem 2rem 0 2rem;
    align-items: center;
    position: relative;
}

.header{
    border-bottom: 1px solid rgb(236, 236, 236);
}

.header__left,.header__right,.header__left__lang,.navbar__left,.navbar__right,.navbar__items,.navbar__right__search_wrapper{
    display: flex;
    align-items: center;
}



.header__item{
    margin-left:.5rem;
}

.navbar__item,.header__left__lang{
    margin-left:1rem;
}

.navbar__left__toggle{
    display: none;
}

.navbar__left__brand{
    font-size: 1.5rem;
    font-weight: bold;
}

.navbar__right__icon{
    font-size: 1.4rem;
}

.header__icon{
    font-size: 1.1rem;
}

.navbar__right__search_wrapper{
    border-radius: 20px;
    padding:.4rem 0 .4rem .7rem;
    background-color: rgba(245,245,245,255);
    width:12rem;
}

.search{
    padding:.3rem;
    background-color: rgba(245,245,245,255);
    margin-left: 0.2rem;
    border:none;
    width: 80%;
    outline: none;
}

.navbar__items__item{
    font-size: 1.05rem;
    text-transform: capitalize;
    position: relative;
    
}

.nav_item{
    cursor: pointer;
    img{
        position:relative;
        width:110px;
        height:85px;
       
    }
}

.header__center{
    text-decoration: underline;
}

.nbr_items{
    position: absolute;
    top:-5px;
    right:-8px;
    border-radius: 50%;
    padding: 0 .3rem;
    background-color:lightseagreen;
    font-size: .7rem;
    position: absolute;
    color:white;
    // text-align: center;
}

.navbar_item__cart{
    position:relative;
    // background-color: burlywood;
}

.navbar__items__item:after{
    content: '';
    position: absolute;
    width: 0; 
    height: 2px;
    display: block;
    margin-top: 5px;
    left: 0;
    background: #fff;
    transition: width .3s ease;
}

.navbar__items__item:hover:after{
    width: 100%;
    left: 0;
    background: black;
}





footer{
    display:flex;
    padding:1rem 2rem 1rem 1rem;
    //background-color: green;
    justify-content: space-between;
    // color:white;
}



.col_left{
    width:20%;
    
    display: flex;
    // justify-content: space-between;
    font-size: 1rem;
    flex-flow: wrap;
    // flex-wrap:wrap;
    // background-color: orchid;
    // white-space:nowrap;
    //background-color: yellow;
    text-transform: uppercase;
}

.interline{
    line-height: 1.8;
    // font-size: .9rem;
}

.col_middle{
    display: flex;
    // justify-content: space-between;
    font-size: 1rem;
    flex-flow: wrap;
    //background-color: red;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
}

.col_right{
    width:20%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    //background-color: aqua;
    align-items: center;
}

.col_right__elem + .col_right__elem{
    margin-top: 1rem;
  
}

.col_right__elem{
    font-size: .9rem;
}

.icon{
    font-size: 1.4rem;
    cursor:pointer;
}

.word + .word{
    margin-left:2rem;
    cursor: pointer;
}

.word{
    font-size: .9rem;
}


main{
    min-height: 80vh;
}

@media screen and (min-width:1367px) and (max-width:1920px){

    footer{
        padding:1rem 2rem 1rem 2rem;
    }

    .col_left{
        width: 25%;
    }

    .col_right__elem, .word{
        font-size: 1.5rem;
    }

    .icon{
        font-size: 2.1rem;
    }

    .header{
        font-size: 1.5rem;
    }

    .navbar__item{
        font-size: 1.7rem;
    }

    .navbar__right__search_wrapper{
        padding:.4rem 0 .4rem .7rem;
        width:15rem;
        
    }

    .search{
        padding:1em;
        font-size: 1.2rem;
        width: 90%;
    }

    .navbar__right__icon{
        font-size: 1.8rem;
    }

    .nav_item{
        img{       
            width:130px;
            height:100px;
        }
    }

}

@media screen and (max-width:1024px){
    .navbar{
        flex-direction: column;
    }
    .navbar__items,.navbar__left{
        margin-bottom: 1rem;
    }

    .icon{
        font-size: 2rem;
    }

    .col_right{
        width:100%;
        margin-top: 2rem;
    }


    .col_left{
        flex-flow: column wrap;
        // background-color: cornflowerblue;
        height:8rem;
        width:100%;
    }
}

@media screen and (max-width:820px){

    .navbar{
        flex-direction: column;
    }

    .navbar__right,.navbar__items,.header{
        display:none;
    }

    .navbar__left{
        width:100%;
        justify-content:space-between;
    }

    .navbar__items,.navbar__left{
        margin-bottom: 0;
    }

    .navbar__left__toggle{
        display:block;
        font-size: 2rem;
    }

    .navbar{
        padding-top:.5rem;
    }
}

@media screen and (max-width:430px){
 
    .col_left{
        font-size: .8rem;
        width:100%;
        justify-content: center;
    }

    .col_middle, .col_right{
        width: 100%;
    }

    .word + .word{
        margin-left:0;
    }

    .col_middle{
        justify-content: space-between;
    }

    footer{
        flex-direction: column;
    }

    .col_right__elem + .col_right__elem{
        margin-top: 0;
      
    }

   


}