.cart_item{
    display: flex;
    border:1px solid grey;
    margin-bottom:1rem;
    // width:100%;
}

.container{
    display:flex;
    flex-direction: column;
}

.cart_item__content .header{
    display:flex;
    justify-content: space-between;
}

.cart_item__content .description{
    width:70%;
}

.cart_item__img{
    width:10%;
}

.cart_item__img .img{
    width:100%;
    height:110px;
}

.description{
    margin-top:2rem;
}

.footer{
    margin-top:2rem;
    display:flex;
    justify-content: space-between;
}

.footer .total{
    margin-right:3rem;
    display: flex;
    align-items: center;
    font-size: 1.2rem;
    b{
        margin-right:.5rem;
    }
}

.footer__wishlist{
    text-transform: uppercase;
}

.header .title,.header .price{
    text-transform: uppercase;
    font-weight: 600;
    font-size: 1.2rem;
    letter-spacing: .1rem;
}

.cart_item__content{
    display:flex;
    flex-direction: column;
    justify-content:center;
    padding:0 1rem;
    width:75%;
}

.container{
    display:flex;
    justify-content:space-between;
    width:95%;
    margin:0 auto;
    margin-top:1rem;
}

.items{
    width:60%;
    display: flex;
    flex-direction:column;
}

.cols{
    width:60%;
    display: flex;
}

.summary{
    width:30%;
}

.remove{
    cursor:pointer;
}

.link{
    cursor: pointer;
    font-weight: bold;
    // color:lightseagreen;
}


@media screen and (min-width:1367px) and (max-width:1920px) {
  
    .cart_item__img{
        width:13%;
        height:160px;
    }
    
    .cart_item__img .img{
        width:100%;
        height:100%;
    }
    

    .description{
        font-size: 1.4rem;
    }

    .price{
        font-size: 1.5rem;
    }

    .footer__elm{
        font-size: 1.4rem;
    }

    .header .title{
        font-size: 1.4rem;
    }

    .header .price{
        font-size: 1.5rem;
    }

    .footer .total{
        font-size: 1.6rem;
    }
}


@media screen and (max-width:1024px) {
    .container{
        flex-direction: column;
    }

    .items,.summary,.cols{
        width:100%;
    }
}



@media screen and (max-width:430px) {
    .cart_item__img{
        width:40%;
    }

    .cart_item__img .img{
        width:100%;
        height:100%;
        
    }
}

