.container,.form{
    display:flex;
}

.container{
    //padding-top: 2rem;
}

.upload_wrapper{
    display: flex;
    justify-content: center;
    align-items: center;  
    //background-color: yellow; 
}


.form__text_input,.form__select,.form__text_area{
    padding:.8rem;
    font-size:1.05rem;
    width:100%;
    border:1px solid black;
    outline: none;
    background-color: white;
    &:focus{
        border:2px solid black;
    }
}

.form__text_area{
    resize: none;
}

.form__select{

}

.form__element{
    margin-top:1rem;
}


.image_upload{
    border: 2px dashed black;
    font-weight: 500;
    border-radius: 5px;
    padding:1.5em 2em;
    font-size: 1rem;
    margin:0 4rem;
    display: inline-block;
    cursor:pointer;
}


.upload_btn{
    background-color: transparent;
    color:black;
    padding:1rem 2rem;
    border: 2px solid black;
    
    border-radius: 3px;
    cursor:pointer;
}

input[type='file']{
    display:none;
}

.left_wrapper{
    padding: 0 1rem;
    //background-color: red;
    
}


.imgs_wrapper{
    display: flex;
    /* justify-content: space-around; */
}


@media screen and (min-width:1367px) and (max-width:1920px) {
  
    .form__text_input{
        padding:1em;
        font-size:1.6rem;
    }

    .image_upload{
        padding:1.9em 2.4em;
        font-size: 1.7rem;
    }
    
    
    .upload_btn{
        font-size: 1.5rem;
        padding:1em 2em;
    }
    
}


@media screen and (max-width:820px){
    .container__grid{
        grid-template-columns: repeat(1,1fr);
        width:95%;
    }

    .form{
        flex-direction: column;
    }   

    .upload_wrapper{
        margin-top:2rem;
    }

    .image_upload{
        
        margin:0 1rem 0 0;
      
    }
}