.container{
    position: fixed;
    height: 100%;
    width:100%;
    background-color: white;
    color:black;
    z-index: 999999;
    top:0;
    right:0;
    transform:translate(100%);
    display: flex;
    justify-content: space-between;
    transition: transform 0.2s linear ;
    flex-direction: column;
    user-select: none;
}

.show_sidebar{
    transform: translate(0);
    // body::-webkit-scrollbar {
    //     display: none;
    //     overflow:hidden;
    // }
}

.nbr_items{
    position: absolute;
    
    right:45.5%;
    border-radius: 5%;
    padding: 0 .25rem;
    background-color:lightseagreen;
    font-size: .7rem;
    position: absolute;
    color:white;
    // text-align: center;
}

.navbar{
    display: flex;
    justify-content: space-between;
    padding:0rem 2rem 0 2rem;
    box-shadow: 10px 0px 20px 1px grey;
    position: absolute;
    width:100%;
    //height:10%;
    align-items: center;
    //border-bottom: 1px solid grey;
}

.navbar__left__brand{
    font-size: 1.5rem;
    font-weight: bold;
}

.nav_item{
    cursor: pointer;
    img{
        position:relative;
        width:110px;
        height:85px;
       
    }
}

.navbar__left__toggle{
    font-size: 2rem;
    
}

.navbar__items__item{
    font-size: 1.05rem;
    text-transform: capitalize;
    position: relative;
    
}



.navbar__item{
    
    border-bottom: 1px solid black;
    text-align: center;
    padding:1rem 0;
}

.navbar__items{
    position: relative;
    margin-top: 9rem;
}


.navbar__right__search_wrapper{
    border-radius: 20px;
    padding:.4rem 0 .4rem .7rem;
    margin:0 1rem;
    background-color: rgba(245,245,245,255);
    
    display:flex;
    align-items:center;
}

.search{
    padding:1em;
    background-color: rgba(245,245,245,255);
    margin-left: 0.2rem;
    border:none;
    outline: none;
    width:100%;
    font-size: 1.1rem;
}



.navbar__right__icon{
    font-size: 1.5rem;
}