.container{
    display: flex;
}

.column{
    padding:.7rem 1.5rem;
    border:1px solid black;
}


table{
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid black;
}

th, td{
    padding: 1rem 9.7rem 1rem 1rem;
    text-align: left;
}

.wrapper{
    margin-top: 1.6rem;
    overflow-x: auto;
}


@media screen and (min-width:1367px) and (max-width:1920px) {
  
    th, td{
        font-size: 2rem;
        padding: 1em 5.2em 1em 1em;
    }
   
}


@media screen and (max-width:1024px) {
 
}

@media screen and (max-width:420px){

}